{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

        <div class="section">
            <div class="container">
                <div class="section-title">
                    <h3 class="title">Editon profil</h3>
                </div>
                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user', 'style': 'max-width: 30%' } }) }}
                {{ form_widget(form) }}
                <div>
                    <button class="primary-btn" type="submit">{{ 'change_password.submit'|trans }}</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
{% endblock %}